@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ==================== */
/* DEFAULT HACKS */
/* ==================== */

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear Fix Hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}


/* ==================== */
/* GENERAL */
/* ==================== */

* {
    font-family: 'Raleway', 'Neue Montreal', serif;
    font-weight: 100;
    text-transform: lowercase;
}

body {
    background-color: black;
    color: white;
    background: black;
}

#wrapper {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 5% 5% 2%;
    font-size: 44px;
}

h2 {
    margin: 0% 5%;
    font-size: 16px;
}

ul {
    display: flex;
}

/* ==================== */
/* MAIN */
/* ==================== */

#content {
    border: solid 1px white;
    height: 90vh;
    width: 90vw;
    margin: 5vh 5vw;
    flex-direction: column;
    position: absolute;
    top: auto;
    left: auto;
}

/* ==================== */
/* SOCIALS */
/* ==================== */

#socials {
    margin: 1% 5%;
    justify-content: space-between;
    width: 125px;
    align-self: flex-end;
    justify-self: flex-start;
    position: absolute;
    right: 0;
}

#socials li {
    list-style: none;
}

/* ==================== */
/* BIO LIST */
/* ==================== */

#bio-list {
    flex-direction: column;
    margin: 0 5%;
}

#bio-list li {
    margin: 5px 0;
    list-style-type: '//';
}

#bio-list h2 {
    margin: 0 20px;
}

/* ==================== */
/* DIRECTORY */
/* ==================== */

#directory {
    flex-direction: column;
    margin-left: 25%;
    margin-top: 150px;
}

#directory li {
    margin: 5px 0;
    list-style-type: disc;
}

#directory h2 {
    margin: 0 20px;
}


/* ==================== */
/* STATUS */
/* ==================== */

#status {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    bottom: 0;
}

h3 {
    margin: 2% 0;
}

p {
    font-size: 16px;
    margin: 5%;
    width: 200px;
}

/* ==================== */
/* ANIMATIONS */
/* ==================== */

@keyframes textFadeIn {
    from {
        color: black;
    }
    
    to {
        color: white;
    }
}

.textFadeIn {
    animation-duration: 4s;
    animation-name: textFadeIn;
    animation-fill-mode: forwards;
    color:black;
}

.delay1s {
    animation-delay: 1s;
}

.delay2s {
    animation-delay: 2s;
}

.delay3s {
    animation-delay: 3s;
}

.delay4s {
    animation-delay: 4s;
}

.delay4-5s {
    animation-delay: 4.5s;
}

.delay5s {
    animation-delay: 5s;
}

.delay5-5s {
    animation-delay: 5.5s;
}

.delay5s {
    animation-delay: 5s;
}

.delay5-2s {
    animation-delay: 5.2s;
}

.delay5-4s {
    animation-delay: 5.4s;
}

.delay5-6s {
    animation-delay: 5.6s;
}

.delay7s {
    animation-delay: 7s;
}

.delay7-5s {
    animation-delay: 7.5s;
}

.duration4-5s {
    animation-duration: 4.5s;
}