@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ==================== */
/* DEFAULT HACKS */
/* ==================== */

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear Fix Hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}


/* ==================== */
/* GENERAL */
/* ==================== */

* {
    font-family: 'Raleway', 'Neue Montreal', serif;
    font-weight: 100;
    text-transform: lowercase;
}

body {
    background-color: black;
    color: white;
    background: black;
}

#wrapper {
    height: 90%;
    width: 90%;
    margin: 5%;
    position: fixed;
}

#content {
    height: 90%;
    width: 90%;
    border: solid 1px white;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Position */
    position: fixed;
}

header, footer {
    height: 5%;
    width: 100%;
}

h1, h2 {
    margin: 5% 5% 2%;
    font-size: 44px;
}

h2 {
    margin: 0% 5%;
    font-size: 16px;
    color: black;
}

h2+h2 {
    margin: 1% 5%;
    transition-property: margin-right;
}

.textFadeIn {
    animation-duration: 4s;
    animation-name: textFadeIn;
    animation-fill-mode: forwards;
}

.delay1s {
    animation-delay: 1s;
}

.delay2s {
    animation-delay: 2s;
}

.delay3s {
    animation-delay: 3.5s;
    animation-duration: 5s;
}

@keyframes textFadeIn {
    from {
        color: black;
    }
    
    to {
        color: white;
    }
}

ul {
    display: flex;
}

li {
    list-style: none;
}

/* */

#socials {
    margin: 1% 5%;
    justify-content: space-between;
    width: 125px;
    align-self: flex-end;
    justify-self: flex-start;
    position: absolute;
    right: 0;
}

#bio-list {
    flex-direction: column;
}

#bio-list li {
    margin: 1% 0%;
}

#bio-paragraph {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    bottom: 0;
}

p {
    font-size: 16px;
    margin: 1% 5%;
    width: 200px;
}